@CHARSET "UTF-8";

/* Imports */

// Default Imports
@import "defaults/resets";
@import "defaults/breakpoint";

// Global Theme Settings Imports
@import "bonita-theme-global-styling";



/* Styling */
body {
  background-color: white;
  color: white;

  article {
    max-width: 800px;
    margin: auto;
    color: #7e7e7e;

    h2, h3 {
      color: #b3906a;
    }
  }
}

a {
  text-decoration: none;
}



// Main-Theme Imports
@import "main/header";
@import "main/page";
@import "main/footer";
